<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @caller.name %>
</p>

<p>
  <b>Division:</b>
  <%= @caller.division.name %>
</p>


<%= link_to 'Edit', edit_caller_path(@caller) %> |
<%= link_to 'Back', callers_path %>
