<p id="notice"><%= notice %></p>


<p>
<b>Type:</b>
<%= @event.type %>
</p>

<p>
<b>Year:</b>
<%= @event.year %>
</p>


<p>
<b>Description:</b>
<%= @event.description %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Division</th>
    <th>Action</th>
  </tr>
  <% @event.callers.each do |c| %>
  <tr>
    <td><%=c.name%></td>
    <td><%=c.division%></td>
    <td><%= link_to 'Remove', event_callers_path(@event, c), confirm: 'Are you sure?', method: :delete %></td>
  </tr>  
  <% end %>
</table>

<br />

<%= form_for([@event]) do |f| %>
  <div class="field">
    <%= f.label :type_id %><br />
    <% @callers = Caller.all.delete_if {|c| (@event.callers.include?(c))}%>
    <%= f.select :event_type_id, @callers.collect{|c| c.name + "-" + c.division} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
