<p id="notice"><%= notice %></p>

<p>
<b>Type:</b>
<%= @event.type %>
</p>

<p>
<b>Year:</b>
<%= @event.year %>
</p>


<p>
<b>Description:</b>
<%= @event.description %>
</p>

<!--CALLERS--->
<p>Callers:</p>
<table>
  <tr>
    <th>Name</th>
    <th>Division</th>
    <th>Action</th>
  </tr>
  <% @event.callers.each do |c| %>
  <tr>
    <td><%=c.name%></td>
    <td><%=c.division.name%></td>
    <td><%= link_to 'Remove', event_callers_remove_path(@event, c), confirm: 'Are you sure?', method: :delete %></td>
  </tr>  
  <% end %>
</table>

<br />

<%= form_tag({:controller => "events", :action => "add_caller"}, :method => "post") do |f| %>
  <div class="field">
    <%= label_tag (:caller_id) %><br />
    <% @callers = Caller.all.delete_if {|c| (@event.callers.include?(c))}%>
    <%= select_tag "caller_id", options_from_collection_for_select(@callers, "id", "name_and_division"), :prompt => "Caller to add" %>
  </div>
  <div class="actions">
    <%= submit_tag "Add caller" %>
  </div>
<% end %>
<!--END--->

<br />

<!--SPONSORS--->
<p>Contributions:</p>
<%= link_to 'All', event_path(@event) %>
<%= link_to 'Confirmed', event_path(@event, :filter_option => "Y") %>
<%= link_to 'Unconfirmed', event_path(@event, :filter_option => "N") %>
<table>
  <tr>
    <th>Sponsor name</th>
    <th>Sponsor contact</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% @event.contributions.each do |c| %>
  <% if c.status == params[:filter_option] or nil == params[:filter_option] %>
  <tr>
    <td><%=c.sponsor.name%></td>
    <td><%=c.sponsor.contact%></td>
    <td><%= link_to c.status, contribution_change_status_path(@event, c) %></td>
    <td><%= link_to 'Remove', event_contribution_remove_path(@event, c), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<%= link_to "Manage contributions", event_contributions_path(@event) %>
<!--END--->

<br />
<br />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
