<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<p>
  <b>Contact person:</b>
  <%= @sponsor.contact %>
</p>

<p>
  <b>Contact info:</b>
  <%= @sponsor.info %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
